<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Text Detection from IMG</title>
  <link rel="icon" href="/img.ico">
  <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAAgAAAAIACAMAAADDpiTIAAACylBMVEUAAAD/////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
///////////////////Xss5ZAAAA7XRSTlMAAQIDBAUGBwgJCgsMDQ4PEBESExQVFhcYGRscHR4f
ICEiIyQlJicoKSorLC0uLzAxMjM0NTY3ODk6PD0+P0BBQkNERUZHSElKS0xNTk9RUlNUVVZYWVpb
XV5fYGFiZGZnaWprbG5vcHFzdHV2d3h5ent8fX5/gIGDhIWGh4iKi4yNjo+QkZKTlJWWl5iZmpuc
nZ6foKGio6SlpqeoqaqrrK6vsLGys7W3uLm6u7y9vr/AwcLDxMXGx8jJy8zNzs/Q0dLT1NXW19ja
29zd3t/h4uPk5ebn6Onq6+zt7u/w8fLz9PX29/j5+vv8/f6WjLGeAAAAAWJLR0TtVr6DjQAADv9J
REFUeNrt3YljFdUVgPHJS0wkSiBIDVa2EGlxwWoRRRCXVgS1ZVNRpO5iFSuKVVyxuGABRUtswaVo
KYoVUJS6oFZBK+CCKwoqUREJkGX+h2oVCSHJe/Pm3plz7v2+P8CXzPkZcubdNwkCIiIiIiIiIiIi
IiIiIiIiIiIiIiIiIvKnUYtJeKOsApgQkvAmAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAG03eCoJbzAfXiAiIiIiIiIiIiIiIiIiIiIiIiIi
IqLv6tmXnKpnRACL+YSFWy0GAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAOCSAYAAQAAgABAAyDMAHSvIqTryWRciIiIiIiIiIiIiIiIiIiIiIiIiIiJnq7zmwYfJyx68
pmcQHLOFD0342zeDgv9wFXzu5aCOi+BzdQHXwO8AAAACAAGAAEAAIAAQAAgABAACAAGAAEAAIAAQ
AAgABADyAcAyDk271bKIAE7kAxNudSIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAJcMAAQAAgABgABAidahvAQAPpY5/KLpi9/f9N0E6jau+Pt1IzsDwJ/Kfjd/Y/M5
NL52a38AeNFxD7T2lxvWXNUZAK73q+VtfYBv87T9AeByR7yc7TOcW28oBYCrld/VkMPHeN87FQCO
/u+/NsdPcs8pBYB7FUzYnvNn+Vf2BoBrFd4T5WkONQMB4FYlj0R7nkftCAC4VPGiqE90qTsVAA79
+/+36M/02TIIAM50ez5Pdar5OQAcaXR+z/V6oxQATtTryzyf7DYbAC6UeSnvZ/uNAoADXZj/wx0/
7gAA9e1bE+PxnlMBoL4ZcZ7vur0SAMrrsiXWE37vBoDypsZ7xPPWnwJAdXttivmQ75sAoLqz4j7l
/aNCAGhucezn/B8PAMVV1McGcC8AFHdG/L/08T4AFHdPfABhJQD09pYBAOcCQO8S2GgAwJ0AUNvh
Jv7c1yIA+Pw7YOTfAgEgqIkmADQWAkBrNxn5k48dAKC1O40A2B8AWqs2AqAPAHy+DxSGVQDQ2m1G
AFQAQGvXGQFQCgCtXWJi/rUFANDaMBMAXudGkNp6mQDwCADUVlhrAMANANDbswYAnAyAoGr6gyNU
AjCwBtSVAeCwL779Qm/WCODY+ABeCLwHUPzG/7/SUxQCKN4YG8DVALj6h/fFSxUKuCv2m8GV3gOo
2vHpukkKARwdF8CywHsAS3Z8qd900wegYFVMAGd7D6DJh6vmKvwRMDbe/D8o9h1Apw1N/j0cqA9A
4duxAFwY+A5gdtMv9pWMPgHnxDoQuqfvAAbterJ+nD4AmRdiABgeeA6guNnvUOvL9Ak4PP8PiD4R
+A7gmuZf7hSFvwf+Kd/5f1XpO4ADdns3bVtvfQD2eD5PAGMC3wE8ufvXu0Dhj4Cun+c1/+mB7wDO
bukLHqJQwLH5nAtYWuI7gH0+bekLXr2HQgG/jf6L4GsdA98B3NfyVzxeIYDgvIaI819VEfgOYHAr
H66v6axRwPBo/wq8lPc36QyAktWtXZwZGgEEJ0R5aPyj+b/17QyAya1enfq+KgV0X57zKbDJMW55
uwKgdxs/MpeqBBCUTMvtF4H3Y73n5QiAgqfaukQjdQoIfpnD347YPq19AIAs76GpPB32XYUXrcty
AuyxPjFfwg0ALd8C2NmkQGvFY9t4dFzDwn6xX8ANAHOy/JzUeDpsR5mBs75u8ZtaM7nSwH/eCQCD
sz5fb26gub1/c8fru36LXy281NBu4wKAkjXZT0sPDJRX1u/M62bOmf+vh++57dKhlYXG/rsuALg+
h11J4+mwRHIAwM+25rItj2PWjgIoWJrT7ZL1HRi2mwDOzfGG6RSG7SSAzp/lCEDj6TAAZO/+nN8y
W8C0HQRwbIRH7A9h3M4BKHkzwrvmKk+HAaDNbox0bmY883YMwEHbIgHQeToMAK2WifpUrRkM3CkA
50c9O630dBgAWq6iJvqnJ5i4QwAeyuPzMyMZuTMAhuT1CIVSZu4IgHbv5PURyknM3BEAN+f3GWrN
p8MA0KSDt+f5Kfq5DN0FAJl8n6LgwOkwAHzbBfk/SYnTYQ4A6FKTPwBOhzkAYF6cp+lxOkw9gJPi
PVCV02HKAZSujQeA02HKAdwSxozTYaoBHLI9LgBOh2kGEOtpupwO0w/gotBAnA5TC6DLFyYAcDpM
LYBHQiNxOkwpgKFm5s/pMKUASt81BIDTYToBTA2NxekwhQD6bjcHgNNh+gBklocG43SYOgDjTc6f
02HqAOz3pVEAnA7TBmC+2flzOkwZgGGh6TgdpglA6XvGAXA6TBOA283Pn9NhigAcWmcBAKfD1ADI
vGhj/pwOUwPg96GdFgBABYCumywB8P10mBYAC2zN3/fTYUoADA/tNR4A4gG0/9AiAL9Ph+kAMC20
2QwACAfQr94qAK9Ph2kAUPhKaLelABAN4LLQdiMBIBhAt6+tA/D4dJgCAI+G9psEALEARiUwf49P
h4kHUPZREgD8PR0mHsCfE5m/v6fDpAM4oj4ZAN6eDhMOoOjVMKnGAUAggMsTm7+vp8NkA0jgFoDv
p8NkA3g8wfmHW6vsfjP7TPr32hUz+wIg90aHiWb3dNi47x9u2nBjBgCybgEkcjqs4wM/vsoNAMix
mQnPP3yjyNplXtfklsNpAMip/g1JA7B1OmzPKbt8K7VHAyCXWwArEp+/pdNhB61s9jKfVQEgexPD
FLJwOqzgkq27vcyacgBkq/vmNADUH2r6++i6tKXXWVYMgCwtDFPJ9Omw0Rtbfp1qALTd6WFKGT0d
Vjar1de5EgBt1WFdWgBMng4b0MafNmwcA4A2ujtMLWOnw4omt/lWtpBlUCaAIxvSA2DqdFifbIfZ
ZSyDIgEUrQxTzMjpsILzsm8xIpZBkQCuSnP+Rk6H7ZvTEiNhGZQIoMfmVAEYOB029JPcXqkaAC31
eJhyMU+Htcv9s6xXAmD3zkx7/jFPh/V/K8I/N2MA0Lzy9akDiHM6rOiKSA80rx0AgGbdm/78Yzw7
rMezEV8q7WVQHICBjQIA5H06bGz0U6wpL4PSABSvCkWU1+mwzv/M56WeKQbAzq6WMf+8nh326zzf
wKgGwI9V1QoBEP10WLNzX1GaCIAdLZEy/8inww5+Lca9xzEA+L6zQjlFOh1WcMm2OK+V4jIoCkCn
DYIARDkd1u3pmC+W3jIoCsDsUFK5nw4bXRP7xVJbBiUBGNQoCkCup8M6zDXxYmktg4IASLkF8GO5
nQ47/gMzr1btPYBrQ2nlcDpsj8nGDi9N9BzAAbXiAGQ/HXagwSeYpLMMigFQ8GQoryynwwrO+8bk
q6WyDIoBME7g/LOcDqswfXIljWVQCoB9PpUIoM3TYSM+N/8ORLm3AP4ayqzV02HtZ9l4ueSXQSEA
BjcKBdDa6bAj37bzetV+AihZHUqtxdNhWT70o2kZlAFgstj5t3g6rOdzFn/vHOMhgN61cgG0cDps
rNWnFya8DEoAUPBUKLmTdv1qf2L77xckuwxKAHCO6Pk3Ox025GP7L1juFwChtwB21uR0WLtpSawr
SS6DAgDMET7/JqfD+r2ZzCtW+wRA7C2Anf1wOiwT79xXlK7wB8Ceb4mff1jf3/by17yG0d4AuD5U
0IZhBXuP/yrJV9xylCcADtwWqqg26VsVG3p6AaBgaUipLoMpAziXQae8DKYLoPNnzLn1ZrsP4H6m
nPYymCqA4xoZcls1nuE2gHbvMOMsu8cApwHcyISzZf+dwRQBHLSNAae/DKYHIPMc4xWwDKYH4HyG
K2EZTA1ARQ2zlbAMpgbgISYrYhlMC8AQBitjGUwJALcApCyDKQGYwlQjLYMdHQNw8HaGGqmni50C
kHmekUpZBlMBcAEDjdwfHALQ5QvmKWYZTAPAPMYpZxlMAcBJDFPQMpg8gNK1zFLQMpg8gFuYpKRl
MHEAh3ALQNQymDSAzAuMUdQymDSAixmirGUwYQDcApC2DCYM4B+MMO4y2EszgKEMUNoymCiA0neZ
n7RlMFEAtzI9cctgkgD6cgtA3jKYIIDMckYnbxlMEMB4JmeqLQMUAtjvSwYncBlMDsB8xiZxGUwM
wDCGJnIZTArAXu8xM5HLYFIAbmdiprtcE4BD6xiYzGUwGQCZF5mXhWXwKDUALmVaUpfBRAB03cSw
pC6DiQBYwKjELoNJABjOoKz1FwUA2n/InOQugwkAmMaUBC+D9gH0q2dKgpdB6wAKX2FGkpdB6wAu
Y0K2W9VRMIBuXzMg0cugbQCPMh7Zy6BlAKMYjvBl0C6Aso+YTTLL4OkyAUxnNNKXQasAjuAWgPhl
0CaAoleZi/hl0CaAy5mK/GXQIgBuAWhYBi0CeIyRKFgG7QE4jYFoWAatAeAWgI5l0BqAmYwjhT7t
JQVA/wamoWIZtASgaAWz0LEMWgIwkUkoWQbtAOi+mUGk1gQBABYyhvRqGJE6gDOYgppl0AaADusY
Qqp90j1dALMYgZ5l0AKAI7kFkHqLitIDULSS669oGTQP4CquvqZl0DiAHtwCULUMGgfwONde1TJo
GsCZXHldy6BhAJ3Wc+F1LYOGAdzLZRfUE0VJAxjYyFVXtgwaBVC8imuubRk0CuCPXHF1y6BJAFW1
XHF1y6BJAEu43vqWQYMAzuJqK1wGzQHotIGLrXAZNAdgNpda4zJoDMAx3AIQ22UJAChezXVWuQya
AnAtl1nnMmgIwAHcAlC6DBoCMI9rLLtXC60CKOXPQkvvNKsA+nCBpVdtFUA5PwGkd5/d3wHu4AoL
3wRPsAsgc/FK9gC5bX5maKp/NYzkBgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAQAAgABAACAAGAAEAAIE8AzJtCTjUvIgDyJAAAgABAACAAEAAIAAQAAgABgABA
ACAAEAAIAAQAAgABgJwC0MA18LmG4L9cBJ97PTilnqvgb3UnB8Fh0xctIS9bNP0XfGCCiIiIiIiI
iIiIiIiIiIiIiIiIiIiISHf/A5GKoodGDiy/AAAAAElFTkSuQmCC" rel="icon" type="image/x-icon" />
   
  
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="style.css">
 <script src= 
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"> 
    </script>
</head>
<body>
<div class = "container">

    <div class = "starter-template">
        
        <h1><strong>Text Detection</strong> from image</h1>
    </div>
</div>
  <br>
    <hr class="rgba-white-light" style="margin: 0 15%;"><br>
    <form action="/upload" method="post" enctype="multipart/form-data" >
      <div class="section over-hide z-bigger">
      <div class="container pb-5">
        <div class="row justify-content-center pb-5">
          
          <div class="col-12 pt-1">
            <p class="mb-4 pb-2">Select Language</p>
          </div>
          <div class="col-xl-10 pb-5">
            
            <input class="checkbox-budget" type="radio" name="budget" id="budget-4" value="option1" checked="checked">
            <label class="for-checkbox-budget" for="budget-4">              
              <span data-hover="English">English</span>
            </label><!--
            --><input class="checkbox-budget" type="radio" name="budget" id="budget-5" value="option2">
            <label class="for-checkbox-budget" for="budget-5">              
              <span data-hover="हिंदी">हिंदी</span>
            </label>
            <input class="checkbox-budget" type="radio" name="budget" id="budget-6" value="option3">
            <label class="for-checkbox-budget" for="budget-6">              
              <span data-hover="मराठी">मराठी</span>
            </label>
          </div>
        </div>
      </div>  
    </div>
 <div class="login">
     <!-- Main Input For Receiving Query to our ML -->    
        <div align="center">
          <div class="infobox">
            <div class="col-12 pt-1">
            <p class="mb-4 pb-2">Select Image</p>
            <img src="https://res.cloudinary.com/mhmd/image/upload/v1564991372/image_pxlho1.svg" alt="" class="center" width="75px">
                   <p id="GFG_DOWN" style= 
        "color:#f0e130; font-size: 15px; font-weight: bold;"> 
    </p>            
          </div>
		  <div class="col-sm-12" style="font-size: 11px"><label class="btn-bs-file btn btn-sm btn-primary" style="color:white">
                <strong>Browse Image</strong>
          <input type="file" id="File" name="image" accept="image/*" style="display:none" required> </label></div>
          <br><br>
		  <div class="text-center"><p style="font-size:13px"> Please make sure your file is less than 2 MB.</p></div> <br>
            </div>
    <script> 
        $('#GFG_UP').text("Choose file from system to get the fileSize"); 
        $('#File').on('change', function() { 
            if (this.files[0].size > 2097152) { 
                alert("Try to upload file less than 2MB!"); 
            } else { 
                $('#GFG_DOWN').text(this.files[0].name); 
            } 
        }); 
    </script>	
		<div class="col-sm-3" style="position: absolute;
  width: 300px;
  z-index: 15;

  left: 50%;
  margin: -10px 0 0 -150px;">
            <input type="submit" value="Process" class="btn btn-success btn-lg btn-block"   style="font-weight:bold;font-size:25px;color:#000000;"></div>
        </div>
    </form>
   </div>
   <br>
   <br>
 <div class="text-center">
    {% if init %}
        {% if textDetected %}
      <div class="alert alert-success" style="margin-top:18px;">
                <strong>Success!!</strong> Detected Text.
            </div>
            <div id="wrapper">
        <form id="paper" method="get" action="">
            <textarea id="text" name="text" rows="10" cols="75">{{ prediction_text }}</textarea>  
            
          </form>
          <br>
          <div id="margin"><strong>Text might contain some errors.</strong></div>
          <div id="margin"><strong> It can be edited as well as can be copied from here. Also, You might need to scroll down if image contain more than 10 lines of text.</strong></div>
      </div>
      <div class="alert alert-success" style="margin-top:10px;">
                <strong>-- Uploaded Image --</strong>
            </div>
            {% if image_to_show %}
                <div>
                    <img src="{{ image_to_show }}" class="img-responsive" alt="Chania" width="80%">
                </div>
            {% endif %}
        {% else %}
            <div class="alert alert-danger" style="margin-top:18px;">
                <strong>Sorry!</strong> No text Detected.
            </div>
      <div id="margin"><p>Feel free to upload different image.</div>
        {% endif %}
    {% endif %}
</div>
<footer  class="page-footer font-small indigo">
<style>.heart{color:#ff0000;}</style>
    <br>
    <hr class="rgba-white-light" style="margin: 0 15%;"><br>  
    <div class="text-center"><h3><strong>Made with <span class="heart">❤</span> in India.</strong></h3><br><a href = "mailto:sahilgadge8@gmail.com?subject=Feedback" style="color: white;text-decoration: none; text-align: center;" class="btn btn-info"><strong>Send Feedback</strong></a></div>
  <br>
</footer> 
</body>
</html>
